---
import BaseLayout from '@layouts/BaseLayout.astro';
const { frontmatter } = Astro.props;
import { Image } from 'astro:assets';
import '@styles/markdown-post.css';

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}');
const imagePath = `/src/assets/${frontmatter.image.url}`;
if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
---
<BaseLayout pageTitle={frontmatter.title} description={frontmatter.description}>
  <h1>{frontmatter.title}</h1>

	<p>{frontmatter.pubDate.toString().slice(0,10)}</p>
	<p><em>{frontmatter.description}</em></p>

  <Image 
    src={images[imagePath]()} 
    alt={frontmatter.image.alt}
    layout='constrained' 
    width={300} 
  />

	<slot />

	<div class="tags">
		{frontmatter.tags.map((tag: string) => (
			<p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
		))}
	</div>	
</BaseLayout>
